{
    "REQUIRED_API_KEY": "123456",
    "SERVER_PORT": 3000,
    "HOST": "0.0.0.0",
    "MODEL_PROVIDER": "gemini-cli-oauth",
    "OPENAI_API_KEY": "xxx",
    "OPENAI_BASE_URL": "https://openai/v1",
    "CLAUDE_API_KEY": "xxx",
    "CLAUDE_BASE_URL": "https://anthropic/v1",
    "PROJECT_ID": null,
    "GEMINI_OAUTH_CREDS_BASE64": null,
    "GEMINI_OAUTH_CREDS_FILE_PATH": null,
    "ANTIGRAVITY_OAUTH_CREDS_FILE_PATH": null,
    "KIRO_OAUTH_CREDS_BASE64": null,
    "KIRO_OAUTH_CREDS_FILE_PATH": null,
    "QWEN_OAUTH_CREDS_FILE_PATH": null,
    "SYSTEM_PROMPT_FILE_PATH": "input_system_prompt.txt",
    "SYSTEM_PROMPT_MODE": "overwrite",
    "PROMPT_LOG_BASE_NAME": "prompt_log",
    "PROMPT_LOG_MODE": "none",
    "REQUEST_MAX_RETRIES": 3,
    "REQUEST_BASE_DELAY": 1000,
    "CRON_NEAR_MINUTES": 1,
    "CRON_REFRESH_TOKEN": false,
    "PROVIDER_POOLS_FILE_PATH": "provider_pools.json",
    "MAX_ERROR_COUNT": 3,
    "QWEN_BASE_URL": "https://portal.qwen.ai/v1",
    "QWEN_OAUTH_BASE_URL": "https://chat.qwen.ai",
    "GEMINI_BASE_URL": "https://cloudcode-pa.googleapis.com",
    "ANTIGRAVITY_BASE_URL_DAILY": "https://daily-cloudcode-pa.sandbox.googleapis.com",
    "ANTIGRAVITY_BASE_URL_AUTOPUSH": "https://autopush-cloudcode-pa.sandbox.googleapis.com",
    "KIRO_REFRESH_URL": "https://prod.{{region}}.auth.desktop.kiro.dev/refreshToken",
    "KIRO_REFRESH_IDC_URL": "https://oidc.{{region}}.amazonaws.com/token",
    "KIRO_BASE_URL": "https://codewhisperer.{{region}}.amazonaws.com/generateAssistantResponse",
    "KIRO_AMAZON_Q_URL": "https://codewhisperer.{{region}}.amazonaws.com/SendMessageStreaming",
    "KIRO_USAGE_LIMITS_URL": "https://q.{{region}}.amazonaws.com/getUsageLimits",
    "KIRO_MAX_TOOL_DESC_LENGTH": 10000
  }